import * as React from 'react';

import classes from './{{pascalCase name}}.module.scss';

export type {{pascalCase name}}Props = {
  // ...
};

const {{pascalCase name}}: React.FunctionComponent<{{pascalCase name}}Props> = () => {
  return <div className={classes.root}>{{pascalCase name}}</div>;
};

export default {{pascalCase name}};
